/***********   RESET   ***********/
* {
    margin:0;
    padding:0;
    text-shadow:1px 1px 2px black;
}
a {
    text-decoration: none;
    font-family: 'Tahoma';
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Times New Roman';
}
h1 {
    font-size: 60px;
}
p {
    font-family: 'Tahoma';
}
div.page {
    background-color: lightgray;
    text-align: center;
    margin:0 auto;
}
section {
    height: 100vh;
    width:100%;
}
/***********   HEADER   ***********/
header {
    background-color: white;
    margin:0 auto;
    width: 100%;
    min-height: 50px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    padding:5px;
}
div.logo {
    float: left;
}
nav a {
    margin: 40px; 
}
div.order {
    position: absolute;
    right:20px;
}
/***********   INTRO   ***********/
section.intro {
    min-height: 100vh;
}
section.intro a {
    color: white;
    font-size: 25px;
}
div.hero {
    background: url('house1.jpeg') no-repeat center;
    background-size: cover;
    min-height: 60%;
    padding:20px;
    position: relative;
}
.intro article {
    margin:0 auto;
    width: 700px;
}
.intro article span {
    color: orange;
}
.intro h1 {
    font-family: 'Arial';
    font-weight: bold;
    color: black;
    margin-top: 30px;
}
div.objectives {
    margin-bottom: 0;
    background-color: lightgray;
}
div.objective {
    display: inline-block;
    vertical-align: bottom;
    min-height: 150px;
    width: 180px;
    margin: 80px;
    background-color: orange;
    border-radius: 3%;
}
.objective:nth-child(2){
    width:230px;
}
div.ordernow {
    margin-top: 100px;
}
/***********   .CONTENT   ***********/
div.content {
    padding:80px;
    width: 40%;
    background-color: white;
}
/***********   TURNTIME   ***********/
section.turntime {
    background-color: purple;
    text-align: left;
}
section.turntime .content {
    float: right;
}
/***********   HUMANVALUE   ***********/
section.humanvalue {
    background-color: green;
    text-align: right
}
/***********   REALTORS   ***********/
section.realtors {
    background-color: yellow;
    text-align: left;
}
section.realtors .content {
    float: right;
}
/***********   UPGRADE   ***********/
section.upgrade {
    background-color: red;
    text-align: right;
}
/***********   INSTITUTIONS   ***********/
section.institutions {
    background-color: turquoise;
    text-align: left;
}
section.institutions .content {
    float: right;
}
/***********   FOOTER   ***********/
footer {
    min-height: 150px;
    background-color: white;
}
