/***********   RESET   ***********/
* {
    margin:0;
    padding:0;
    text-shadow:2px 2px 3px black;
}
a {
    text-decoration: none;
    font-family: 'Tahoma';
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Times New Roman';
}
h1 {
    font-size: 60px;
}
p {
    font-family: 'Tahoma';
}
div.page {
    background-color: #3B424C;
    text-align: center;
    margin:0 auto;
}
section {
    height: 100vh;
    width:100%;
}
/***********   HEADER   ***********/
header {
    background-color: lightgray;
    margin:0 auto;
    width: 100%;
    min-height: 50px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    padding:5px;
}
div.logo {
    float: left;
}
nav a {
    margin: 40px;
    color: #F05529;
    font-size: 20px; 
}
div.order {
    position: absolute;
    right:20px;
}
div.order a {
    color: #F05529;
    font-size: 25px;
}
/***********   INTRO   ***********/
section.intro {
    min-height: 100vh;
}
.ordernow a {
    color: white;
    font-size: 25px;
    padding:5px;
    border: 2px solid #F05529;
}
div.hero {
    background: linear-gradient(45deg, rgba(200,200,200,0.1), rgba(200,200,200,0.2)),url('house1bw.jpg') no-repeat center;
    background-size: cover;
    min-height: 60%;
    padding:20px;
    position: relative;
}
.intro article {
    margin:0 auto;
    width: 780px;
}
.intro h1 {
    font-family: 'Arial';
    font-weight: bold;
    color: black;
    margin-top: 30px;
    text-shadow:2px 2px 3px white;
}
.intro article h2 {
    font-family: 'Arial';
    font-weight: bold;
    color: white;
    margin-top: 30px;
}
#big {
    color:#F05529;
    font-size: 90px;
}
div.objectives {
    margin-bottom: 0;
    background-color:#B3B3B3;
}
div.objective {
    display: inline-block;
    vertical-align: bottom;
    min-height: 150px;
    width: 180px;
    margin: 80px;
    background-color: transparent;
    border-radius: 3%;

}
div.objective a {
    font-size: 20px;
    color: #F05529;
}
.objective:nth-child(2){
    width:230px;
}
div.ordernow {
    margin-top: 100px;
}
/***********   .CONTENT   ***********/
div.content {
    padding:80px;
    width: 40%;
    color: white;
    background-color: #3B424C;
}
div.content h1 {
    color:#F05529;
}
/***********   TURNTIME   ***********/
section.turntime {
    background-color: white;
    text-align: left;
}
section.turntime .content {
    float: right;
}
/***********   HUMANVALUE   ***********/
section.humanvalue {
    background-color: white;
    text-align: right
}
/***********   REALTORS   ***********/
section.realtors {
    background-color: white;
    text-align: left;
}
section.realtors .content {
    float: right;
}
/***********   UPGRADE   ***********/
section.upgrade {
    background-color: white;
    text-align: right;
}
/***********   INSTITUTIONS   ***********/
section.institutions {
    background-color: white;
    text-align: left;
}
section.institutions .content {
    float: right;
}
/***********   FOOTER   ***********/
footer {
    min-height: 50px;
    background-color: #E38A38;
    padding:10px;
}



